<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<tx:annotation-driven />

	<!-- This is the main Spring Framework configuration file. It works in conjunction 
		with spring-mvc-servlet.xml to configure Spring-configured objects (beans). 
		applicationContext.xml is the default file loaded by org.springframework.web.context.ContextLoaderListener. 
		To split configuration across multiple spring files, consult web.xml -->

	<!-- Load environment-specific properties such as database ports and passwords -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<!-- This setting allows us to override properties with JVM system properties 
			OR host OS system properties -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />

		<!-- Location of property file(s) -->
		<property name="locations">
			<list>
				<value>
					/WEB-INF/classes/application.properties
				</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource"
 class="com.evalua.entity.support.DefaultMySqlDataSource">
    <property name="url">
        <value>
            ${db.url}
        </value>
    </property>
    <property name="username">
        <value>${db.username}</value>
    </property>
    <property name="password">
        <value>${db.password}</value>
    </property>
</bean>

	<bean id="sessionFactory"
		class="com.evalua.entity.support.DefaultSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<!-- Tells Hibernate where to look for annotation-marked persistent entity objects -->
		<property name="packagesToScan" value="com.wsm.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">${db.hbm2ddl}</prop>
			</props>
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative 
		to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="multipartResolver"
                class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<bean id="dataStoreManager"
		class="com.evalua.entity.support.DataStoreManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	<bean id="repository"
		class="com.wsm.entity.support.Repository">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="wsmConfiguration"	class="com.wsm.processor.WSMConfiguration">
		<property name="rainMinThreshold">
	        <value>${wsm.config.rainMinThreshold}</value>
	    </property>
	    <property name="rainMaxThreshold">
	        <value>${wsm.config.rainMaxThreshold}</value>
	    </property>
	    <property name="snowMinThreshold">
	        <value>${wsm.config.snowMinThreshold}</value>
	    </property>
	    <property name="snowMaxThreshold">
	        <value>${wsm.config.snowMaxThreshold}</value>
	    </property>
	    <property name="tempMinThreshold">
	        <value>${wsm.config.tempMinThreshold}</value>
	    </property>
	    <property name="tempMaxThreshold">
	        <value>${wsm.config.tempMaxThreshold}</value>
	    </property>
	    <property name="humidityMinThreshold">
	        <value>${wsm.config.humidityMinThreshold}</value>
	    </property>
	    <property name="humidityMaxThreshold">
	        <value>${wsm.config.humidityMaxThreshold}</value>
	    </property>
	    <property name="windSpeedMinThreshold">
	        <value>${wsm.config.windSpeedMinThreshold}</value>
	    </property>
	    <property name="windSpeedMaxThreshold">
	        <value>${wsm.config.windSpeedMaxThreshold}</value>
	    </property>
	    
	    
	    <property name="maxRainPmfStrings">
	        <value>${wsm.config.pmfStrings.maxRain}</value>
	    </property>
	     <property name="minRainPmfStrings">
	        <value>${wsm.config.pmfStrings.minRain}</value>
	    </property>	
	    <property name="maxSnowPmfStrings">
	        <value>${wsm.config.pmfStrings.maxSnow}</value>
	    </property>	
	     <property name="minSnowPmfStrings">
	        <value>${wsm.config.pmfStrings.minSnow}</value>
	    </property>
	    <property name="maxTempPmfStrings">
	        <value>${wsm.config.pmfStrings.maxTemp}</value>
	    </property>	
	     <property name="minTempPmfStrings">
	        <value>${wsm.config.pmfStrings.minTemp}</value>
	    </property>
	    <property name="maxHumidityPmfStrings">
	        <value>${wsm.config.pmfStrings.maxHumidity}</value>
	    </property>	
	     <property name="minHumidiityPmfStrings">
	        <value>${wsm.config.pmfStrings.minHumidity}</value>
	    </property>
	    <property name="maxWindSpeedPmfStrings">
	        <value>${wsm.config.pmfStrings.maxWindSpeed}</value>
	    </property>	
	     <property name="minWindSpeedPmfStrings">
	        <value>${wsm.config.pmfStrings.minWindSpeed}</value>
	    </property>
	    <property name="E2WWindDirPmfStrings">
	        <value>${wsm.config.pmfStrings.windEastWest}</value>
	    </property>	
	     <property name="W2EWindDirPmfStrings">
	        <value>${wsm.config.pmfStrings.windWestEast}</value>
	    </property>
	    <property name="clusterBaseLocation">
	        <value>${wsm.clusterBaseLocation}</value>
	    </property>	
	     <property name="originalBaseLocation">
	        <value>${wsm.originalBaseLocation}</value>
	    </property>
	    <property name="kMedoidClusterBaseLocation">
	        <value>${wsm.kMedoidClusterBaseLocation}</value>
	    </property>	    
	</bean>
	
	<bean id="xmlParser"
		class="com.wsm.util.XMLParser">
	</bean>
	<bean id="dateTimeUtil"
		class="com.wsm.util.DateTimeUtil">
	</bean>
	<bean id="MiningService" class="com.wsm.web.support.MiningService">		
		<property name="configuration" ref="wsmConfiguration" />
		<property name="repository" ref="repository" />
		<property name="dateTimeUtil" ref="dateTimeUtil" />
		<property name="xmlParser" ref="xmlParser" />
	</bean>
	<bean id="pmfCalculator" class="com.wsm.processor.PMFCalculator">		
		<property name="configuration" ref="wsmConfiguration" />
		<property name="dataStoreManager" ref="dataStoreManager" />
		<property name="dateTimeUtil" ref="dateTimeUtil" />
		<property name="repository" ref="repository" />
		
	</bean>
	<bean id="clusterCreator" class="com.wsm.processor.ClusterCreator">		
		<property name="configuration" ref="wsmConfiguration" />
		<property name="repository" ref="repository" />
		<property name="dateTimeUtil" ref="dateTimeUtil" />
		<property name="dataStoreManager" ref="dataStoreManager" />
	</bean>	
	<bean id="kMedoidProcessor" class="com.wsm.processor.KMedoidProcessor">	
		
	</bean>	
	<bean id="kMedoidElementCreator" class="com.wsm.processor.KMedoidElementCreator">		
		<property name="dataStoreManager" ref="dataStoreManager" />
		<property name="dateTimeUtil" ref="dateTimeUtil" />
		<property name="repository" ref="repository" />
		<property name="kMedoidProcessor" ref="kMedoidProcessor" />
		<property name="clusterCreator" ref="clusterCreator" />
		
	</bean>
	
</beans>
