<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Weather Station Monitor</display-name>
 
 <!-- Requires servlet api 2.4 or higher (tomcat 5.x is ok) 
	See http://www.springframework.org/docs/reference/webintegration.html -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
 
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>
                       org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>  
	<welcome-file-list>
	<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>